*{
    padding: 0;
    margin: 0;
}

.heading{
    transition: all 300ms ease-in-out;
}

.heading:hover{
    background: red;
}

a:link{
    color: deeppink;
}

a:visited{
    color: firebrick;
}

a:hover{
    background: darksalmon;
    color: white;
    text-decoration: none;
}

input:focus{
    box-shadow: rgba(0, 0, 0, 0.5);
}

input:disabled{
    background-color: seagreen;
}

p:not(.meio){
    color: blue;
}